html,
body {
    height: 100%;
}

body {
    background-color: #f8fafd;
    background-image: url('../images/background.svg');
    background-position: 50% 0px;
    background-size: cover;
    font-family: sans-serif;
    color: black;
    font-size: 16px;
    line-height: 1.8;
}

.body {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    /* max-width: 1024px; */
    border-radius: 10px;
}

.body .body-header {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #677897;
    margin-bottom: 20px;
    text-align: center;
}

/***********/
.s-primary,
.pager .primary {
    background-color: #2196f3 !important;
    border-color: #2196f3 !important;
}

.theme--light.v-toolbar {
    color: white;
    background-color: #42a5f5;
}


.theme--light.application {
    background: inherit;
}

.theme--light.v-btn {
    color: white;
}

.v-date-picker-table .theme--light.v-btn{
    color: rgba(0,0,0,.87);
}

.date-container .v-input__control{
    max-width: 110px;
}

.v-toolbar__title {
    color: white;
}

.s-table {
    margin: 10px 0;
    width: 100%;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}