html,
body {
    height: 100%;
}

body {
    background-color: #f8fafd;
    background-image: url('../images/background.svg');
    background-position: 50% 0px;
    background-size: cover;
    font-family: sans-serif;
    color: black;
    font-size: 16px;
    line-height: 1.8;
}

.header .header-content{
    padding: 0 10px;
}

.header,
.header .nav-right > div {
    line-height: 60px;
}

.body{
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.body .body-header{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #677897;
    margin-bottom: 20px;
}

.body .content{
    max-width: 1024px;
    margin: 0 auto;
    background: white;
    position: relative;
    /* top: 50%;
    transform: translate(0, -50%); */
}
