<!-- 渠道管理 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渠道</title>

    <link href="./css/reset.css" rel="stylesheet" />
    <link href="./css/vuetify.min.css" rel="stylesheet" />
    <link href="./css/css.css" rel="stylesheet" />
    <link href="./css/common.css" rel="stylesheet" />

    <style>
        .main-table-sub {
            color: #c5c4c4;
            border: 1px solid #e3e3e3;
            padding: 4px;
            margin: 6px 0;
            /* text-align: center; */
        }

        .qr-container {
            padding: 4px;
            margin: 4px 0;
        }

        .qrcode-image {
            min-height: 40px;
            min-width: 40px;
            height: 100%;
            width: 100%;
            border: 1px solid #e3e3e3;
            border-radius: 6px;
        }

        .download-qrcode {
            color: #2196f3;
            border-color: #2196f3;
            border-radius: 6px;
            text-align: center;
            display: block;
            text-decoration: none;
        }

        .download-qrcode:hover {
            color: white;
            background-color: #2196f3;
        }

        .table-sub-number {
            color: #8BC34A;
        }

        .sub-item {
            padding: 0;
            margin: 10px 0;
        }

        .line {
            height: 1px;
            background-color: #e3e3e3;
            width: 100%;
        }

        .sub-item div {
            display: inline-block;
        }

        .sub-right {
            float: right;
            margin-right: -4px;
        }

        .clearfix:after {
            display: block;
            content: '';
            clear: both;
            height: 0;
        }

        .sub-right .sub-right-item,
        .sub-left {
            padding: 0 24px;
        }


        .upload-container {
            height: 100%;
            line-height: 140px;
            text-align: center;
            border: 4px dotted #efefef;
            cursor: pointer;
            margin-left: 6px;
            /* margin-right: 0; */
        }

        .upload-container:first-of-type {
            margin-right: 6px;
            margin-left: 0;
        }
    </style>

</head>

<body>
    <div id="app">
        <v-app>
            <div class="header">
                <v-toolbar>
                    <v-toolbar-side-icon class="toolbar-icon"></v-toolbar-side-icon>
                    <v-toolbar-title>
                        <v-img class="toolbar-img" src="./images/kooa_logo.png" contain></v-img>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>

                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-btn href="./team.html" flat>团队</v-btn>
                        <v-btn href="./channel.html" flat>渠道</v-btn>
                        <v-btn href="./achievement.html" flat>业绩</v-btn>
                        <v-btn href="./distribution_network.html" flat>销售网络</v-btn>
                        <v-btn href="./message.html" flat>
                            消息
                            <v-badge right class="toolbar-message-tip">
                                <span slot="badge">6</span>
                            </v-badge>
                        </v-btn>
                    </v-toolbar-items>

                    <v-toolbar-items>

                        <v-menu offset-y>
                            <v-btn flat primary slot="activator">语言</v-btn>
                            <v-list dense class="toolbar-dropdown">
                                <v-list-tile @click="">
                                    <v-list-tile-title>
                                        English
                                    </v-list-tile-title>
                                </v-list-tile>

                                <v-list-tile @click="">
                                    <v-list-tile-title>简体中文</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click="">
                                    <v-list-tile-title>繁体中文</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </v-toolbar-items>

                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-menu offset-y>
                            <v-btn flat primary slot="activator">系统信息</v-btn>
                            <v-list dense class="toolbar-dropdown">

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                <!-- <v-icon>$vuetify.icons.product</v-icon> -->
                                                用户管理
                                            </v-list-tile-title>

                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./user_permisson.html'">
                                                <v-list-tile-title>
                                                    权限
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="window.location.href='./user_role.html'">
                                                <v-list-tile-title>
                                                    角色
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="window.location.href='./user_manage.html'">
                                                <v-list-tile-title>
                                                    用户
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                佣金管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./commision_setting.html'">
                                                <v-list-tile-title>
                                                    佣金设置
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                财务管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    财务资料
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    财务报表
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                报表管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    经销商报表
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    内部销售员报表
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                参数设置
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./reg_setting.html'">
                                                <v-list-tile-title>
                                                    注册设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="window.location.href='./notify_setting.html'">
                                                <v-list-tile-title>
                                                    消息设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="window.location.href='./protocol_setting.html'">
                                                <v-list-tile-title>
                                                    协议设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    医生脱离设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    审批流程设置
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                审核管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./reg_audit.html'">
                                                <v-list-tile-title>
                                                    注册审核
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    医生脱离审核
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>
                            </v-list>
                        </v-menu>

                        <v-btn href="./login.html" flat>登出</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
            </div>


            <v-container class="body" grid-list-md>
                <div class="body-header">
                    渠道
                </div>

                <v-layout row align-center>
                    <v-flex xs6>
                        主账号：正崎代理(上海)有限公司
                        &nbsp;&nbsp;
                        <v-btn color="s-primary" class="ml-0" @click="showEdit = true">
                            <v-icon dark>edit</v-icon>修改资料
                        </v-btn>
                    </v-flex>
                    <v-flex xs4>
                        <v-card-text class="pa-0">KOOA客服：武勇 1234567890</v-card-text>
                    </v-flex>
                    <v-flex xs2>
                        负责人：陈大文
                    </v-flex>
                </v-layout>

                <div class="action-bar">
                    <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
                        <v-icon dark>add</v-icon>新增渠道
                    </v-btn>
                </div>

                <v-layout v-resize="onTabelResize">
                    <v-data-table :headers="theader" :items="tdata" hide-headers hide-actions item-key="a" expand class="elevation-1 s-table"
                        ref="dTable">

                        <template slot="items" slot-scope="props">
                            <tr @click="props.expanded = !props.expanded">
                                <td class="text-xs-left" ref="td1">
                                    {{ props.item.a }}
                                </td>
                                <td class="text-xs-left">
                                    {{ props.item.b }}
                                    <div class="main-table-sub">
                                        {{ props.item.a_1 }}
                                    </div>
                                </td>
                                <td class="text-xs-left">
                                    <div class="qr-container">
                                        <v-img src="./images/webwxgetmsgimg.jpeg" class="qrcode-image" contain>
                                    </div>
                                </td>
                                <td class="text-xs-left">
                                    {{ props.item.d }}
                                    <div class="main-table-sub">
                                        {{ props.item.d_1 }}
                                    </div>
                                </td>
                                <td class="text-xs-left" ref="td2">
                                    {{ props.item.e }}
                                    <a class="main-table-sub download-qrcode" href="javascript:void(0);">下载二维码</a>
                                </td>
                                <td class="text-xs-right" ref="td3">
                                    {{ props.item.f }}
                                    <div class="table-sub-number">
                                        {{ props.item.f_1 }}
                                    </div>
                                </td>
                                <td class="text-xs-right" ref="td4">
                                    {{ props.item.g }}
                                    <div class="table-sub-number">
                                        {{ props.item.g_1 }}
                                    </div>
                                </td>
                                <td class="text-xs-center" ref="td5">
                                    <v-icon v-if="props.item.stop" class="mr-2" color="red" title="停止">
                                        block
                                    </v-icon>

                                    <v-icon v-if="!props.item.stop" class="mr-2" color="light-green" title="开始">
                                        lens
                                    </v-icon>
                                </td>
                            </tr>
                        </template>

                        <template slot="expand" slot-scope="props">
                            <div v-for="(subItem, subIdx) in props.item.children" :key="subIdx" class="sub-item clearfix"
                                :style="subSytle">
                                <div class="sub-left">
                                    <span>{{subItem.sub_id}}</span>
                                    <span>{{subItem.sub_name}}</span>
                                </div>
                                <div class="sub-right">
                                    <!-- <v-layout row wrap> -->
                                    <div class="text-xs-left sub-right-item ellipsis" :style="subUrlWidth">
                                        <span :title="subItem.url">{{ subItem.url }}</span>
                                        <a class="main-table-sub download-qrcode" href="javascript:void(0);">下载二维码</a>
                                    </div>
                                    <div class="text-xs-right sub-right-item" :style="docWidth">
                                        <p>
                                            {{ subItem.f }}
                                        </p>

                                        <div class="table-sub-number">
                                            {{ subItem.f_1 }}
                                        </div>
                                    </div>

                                    <div class="text-xs-right sub-right-item" :style="achWidth">
                                        <p>
                                            {{ subItem.g }}
                                        </p>
                                        <div class="table-sub-number">
                                            {{ subItem.g_1 }}
                                        </div>
                                    </div>
                                    <!-- </v-layout> -->
                                </div>

                                <div class="line"></div>
                            </div>

                            <div :style="subSytle">
                                <v-btn color="s-primary" ml="0" @click="showAddSales = true">
                                    <v-icon dark>add</v-icon>新增销售员
                                </v-btn>
                            </div>
                        </template>
                    </v-data-table>
                </v-layout>

                <v-dialog scrollable v-model="showAdd" width="500">
                    <v-card>
                        <v-card-title class="headline grey lighten-2" primary-title>
                            新增
                        </v-card-title>

                        <v-card-text>
                            <v-form>
                                <v-text-field label="渠道名称"></v-text-field>
                                <v-text-field label="描述信息"></v-text-field>
                                <v-text-field label="二维码附加信息"></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="s-primary" @click="showAdd = false">
                                确认
                            </v-btn>
                            <v-btn color="primary" flat @click="showAdd = false">
                                取消
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-dialog scrollable v-model="showAddSales" width="500">
                    <v-card>
                        <v-card-title class="headline grey lighten-2" primary-title>
                            新增销售员
                        </v-card-title>

                        <v-card-text>
                            <v-form>
                                <v-combobox v-model="chips" :items="saliesLists" label="请选择销售员" chips clearable
                                    prepend-icon="filter_list" solo multiple>
                                    <template slot="selection" slot-scope="data">
                                        <v-chip :selected="data.selected" close @input="remove(data)">
                                            <strong>{{ data.item }}</strong>&nbsp;
                                        </v-chip>
                                    </template>
                                </v-combobox>
                            </v-form>
                        </v-card-text>

                        <v-btn color="s-primary" @click="showAddUser = true">开通账号</v-btn>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="s-primary" @click="showAddSales = false">
                                确认
                            </v-btn>
                            <v-btn color="primary" flat @click="showAddSales = false">
                                取消
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-dialog scrollable v-model="showAddUser" width="600">
                    <v-card>
                        <v-card-title class="headline grey lighten-2" primary-title>
                            新增
                        </v-card-title>

                        <v-card-text>
                            <v-form>
                                <v-text-field label="用户名"></v-text-field>
                                <v-text-field label="密码" :append-icon="show_pass ? 'visibility_off' : 'visibility'"
                                    :type="show_pass ? 'text' : 'password'" @click:append="show_pass = !show_pass"></v-text-field>
                                <v-text-field label="姓"></v-text-field>
                                <v-text-field label="名字"></v-text-field>
                                <v-text-field label="银行账号"></v-text-field>
                                <v-text-field label="银行名称"></v-text-field>
                                <v-text-field label="银行地址"></v-text-field>
                                <v-text-field label="开户名"></v-text-field>
                                <v-text-field label="固定电话"></v-text-field>
                                <v-text-field label="移动电话"></v-text-field>

                                <v-layout row wrap>
                                    <v-flex xs6>
                                        <div class="upload-container">
                                            个人照片
                                        </div>
                                    </v-flex>

                                    <v-flex xs6>
                                        <div class="upload-container">
                                            身份证照片
                                        </div>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="s-primary" @click="showAddUser = false">
                                确认
                            </v-btn>
                            <v-btn color="primary" flat @click="showAddUser = false">
                                取消
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

            </v-container>

        </v-app>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',

            mounted() {
                for (let i = 0; i < this.tdata.length; i += 1) {
                    const item = this.tdata[i];
                    this.$set(this.$refs.dTable.expanded, item.a, true)
                }

                var that = this;

                setTimeout(function () {
                    that.calcWidth();
                }, 100);
            },

            methods: {
                onTabelResize() {
                    this.calcWidth();
                },

                calcWidth() {
                    var td1Width = this.$refs.td1.offsetWidth,
                        td2Width = this.$refs.td2.offsetWidth,
                        td3Width = this.$refs.td3.offsetWidth,
                        td4Width = this.$refs.td4.offsetWidth,
                        td5Width = this.$refs.td5.offsetWidth,
                        left = td1Width,
                        right = td5Width;

                    this.subUrlWidth['width'] = td2Width + 'px';
                    this.docWidth['width'] = td3Width + 'px';
                    this.achWidth['width'] = td4Width + 'px';
                    this.subSytle['paddingLeft'] = left + 'px';
                    this.subSytle['paddingRight'] = right + 'px';
                },

                remove(item) {
                    this.chips.splice(this.chips.indexOf(item), 1)
                    this.chips = [...this.chips]
                }
            },

            data() {
                return {
                    subSytle: {
                        paddingLeft: '0px',
                        paddingRight: '0px'
                    },

                    docWidth: {
                        width: '0px'
                    },

                    achWidth: {
                        width: '0px'
                    },

                    subUrlWidth: {
                        width: '0px'
                    },

                    showAdd: false,
                    showAddSales: false,
                    showAddUser: false,

                    show_pass: false,

                    saliesLists: [
                        '大大',
                        '小小'
                    ],

                    chips: [],

                    // items: ['页面1', '页面2'],

                    theader: [{
                            align: 'left',
                            value: 'a',
                            sortable: false,
                        },
                        {
                            align: 'left',
                            value: 'b',
                            sortable: false,
                        },
                        {
                            align: 'left',
                            value: 'c',
                            sortable: false,
                        },
                        {
                            align: 'left',
                            value: 'd',
                            sortable: false,
                        },
                        {
                            align: 'left',
                            value: 'e',
                            sortable: false,
                        },
                        {
                            align: 'right',
                            value: 'f',
                            sortable: false,
                        },
                        {
                            align: 'right',
                            value: 'g',
                            sortable: false,
                        },
                        {
                            align: 'center',
                            value: 'h',
                            sortable: false,
                        },
                    ],

                    // tsubHead: [{
                    //         align: 'left',
                    //         value: 'a',
                    //         sortable: false,
                    //     },
                    //     {
                    //         align: 'left',
                    //         value: 'b',
                    //         sortable: false,
                    //     },
                    //     {
                    //         align: 'left',
                    //         value: 'c',
                    //         sortable: false,
                    //     },
                    //     {
                    //         align: 'left',
                    //         value: 'd',
                    //         sortable: false,
                    //     },
                    //     {
                    //         align: 'left',
                    //         value: 'e',
                    //         sortable: false,
                    //     },
                    //     {
                    //         align: 'right',
                    //         value: 'f',
                    //         sortable: false,
                    //     },
                    //     {
                    //         align: 'right',
                    //         value: 'g',
                    //         sortable: false,
                    //     },
                    //     {
                    //         align: 'center',
                    //         value: 'h',
                    //         sortable: false,
                    //     },

                    // ],

                    tdata: [{
                            a: '1',
                            a_1: '大众点评xxxxxxxxx',
                            b: '微信',
                            c: '',
                            d: '二维码信息 231312',
                            d_1: '全球领先 免费试用',
                            e: 'http://www.google.com',
                            f: '医生',
                            f_1: 1000,
                            g: '业绩',
                            g_1: 1000,
                            stop: false,

                            children: [{
                                    sub_id: 1,
                                    sub_name: '王成',
                                    url: 'http://www.google.com12312312',
                                    f: '医生',
                                    f_1: 1000,
                                    g: '业绩',
                                    g_1: 1000,
                                },
                                {
                                    sub_id: 2,
                                    sub_name: '王三',
                                    url: 'http://www.google.com12312312',
                                    f: '医生',
                                    f_1: 1000,
                                    g: '业绩',
                                    g_1: 1000,
                                }
                            ]
                        },
                        {
                            a: '2',
                            a_1: '大众点评xxxxxxxxx',
                            b: '微信',
                            c: '',
                            d: '二维码信息 231312',
                            d_1: '全球领先 免费试用',
                            e: 'http://www.google.com',
                            f: '医生',
                            f_1: 1000,
                            g: '业绩',
                            g_1: 1000,
                            stop: true,

                            children: [

                            ]
                        }
                    ]
                };
            }
        })
    </script>
</body>

</html>