<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>协议设置</title>

    <link href="./css/reset.css" rel="stylesheet" />
    <link href="./css/vuetify.min.css" rel="stylesheet" />
    <link href="./css/css.css" rel="stylesheet" />
    <link href="./css/common.css" rel="stylesheet" />
    <!-- <link href="./css/quill.core.css" rel="stylesheet" />
    <link href="./css/quill.snow.css" rel="stylesheet" />
    <link href="./css/quill.bubble.css" rel="stylesheet" /> -->

    <style>
        /* .quill-editor {
            height: 280px;
        } */

        /* .quill-editor .ql-container {
            height: 300px;
        } */

        .ck-content {
            height: 400px;
        }

        /* .content-title{
            margin-bottom: 10px;
        } */
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <div class="header">
                <v-toolbar>
                    <v-toolbar-side-icon></v-toolbar-side-icon>
                    <v-toolbar-title>协议设置</v-toolbar-title>
                    <v-spacer></v-spacer>

                    <!-- todo -->
                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-btn flat>注册</v-btn>
                        <v-btn flat>联系方式</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
            </div>

            <v-container class="body" grid-list-md text-xs-center>
                <div class="body-header">
                    协议设置
                </div>

                <input type="text" placeholder="">

                <div class="action-bar">
                    <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
                        <v-icon dark>add</v-icon>新增
                    </v-btn>
                </div>

                <v-layout>
                    <v-data-table :headers="theader" :items="tdata" hide-actions item-key="a" expand class="elevation-1 s-table"
                        ref="dTable">

                        <template slot="items" slot-scope="props">
                            <tr @click="props.expanded = !props.expanded">
                                <td class="text-xs-left" ref="td1">
                                    {{ props.item.a }}
                                </td>
                                <td class="text-xs-left">
                                    {{ props.item.b }}
                                </td>
                                <td class="text-xs-left">
                                    {{ props.item.c }}
                                </td>
                                <td class="text-xs-center">
                                    <v-icon small class="mr-2">
                                        edit
                                    </v-icon>
                                    <v-icon small>
                                        delete
                                    </v-icon>
                                </td>
                            </tr>
                        </template>
                    </v-data-table>
                    <!-- 
                    <quill-editor v-model="content" ref="quillEditor" :options="editorOption" @ready="onEditorReady($event)"
                    @blur="onEditorBlur($event)" @focus="onEditorFocus($event)" @change="onEditorChange($event)">
                </quill-editor> -->
                </v-layout>

                <v-dialog scrollable v-model="showAdd" width="800">
                    <v-card>
                        <v-card-title class="headline grey lighten-2" primary-title>
                            新增协议
                        </v-card-title>

                        <v-card-text>
                            <v-form>
                                <v-text-field label="协议名称"></v-text-field>

                                <textarea name="content" id="editor" placeholder="协议内容">
                                </textarea>

                            </v-form>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="s-primary" @click="showAdd = false">
                                确认
                            </v-btn>
                            <v-btn color="primary" flat @click="showAdd = false">
                                取消
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

            </v-container>
        </v-app>
    </div>


    <!-- <script src="./js/quill.js"></script> -->
    <script src="./js/vue.js"></script>
    <!-- <script src="./js/vue-quill-editor.js"></script> -->
    <script src="./js/vuetify.js"></script>
    <script src="./js/ckeditor.js"></script>
    <script>
        // Vue.use(VueQuillEditor)

        new Vue({
            el: '#app',

            mounted() {
                ClassicEditor
                    .create(document.querySelector('#editor'), {})
                    .catch(error => {
                        console.error(error);
                    });
            },

            // computed: {
            //     editor() {
            //         return this.$refs.quillEditor.quill
            //     },
            // },

            data() {
                return {
                    content: null,
                    editorOption: {},

                    showAdd: false,

                    items: [
                        '开启注册',
                        '关闭注册'
                    ],

                    theader: [{
                            text: '',
                            align: 'left',
                            value: 'a',
                            sortable: false,
                        },
                        {
                            text: '协议名称',
                            align: 'left',
                            value: 'b',
                            sortable: false,
                        },
                        {
                            text: '协议内容',
                            align: 'left',
                            value: 'c',
                            sortable: false,
                        },
                        {
                            align: 'center',
                            value: 'h',
                            sortable: false,
                        },
                    ],

                    tdata: [{
                        a: 1,
                        b: '佣金协议',
                        c: '协议内容',
                    }]
                }
            }
        });
    </script>
</body>

</html>