<!-- 角色管理 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>角色管理</title>

    <link href="./css/reset.css" rel="stylesheet" />
    <link href="./css/muse-ui.css" rel="stylesheet" />
    <link href="./css/material-icons.css" rel="stylesheet" />
    <link href="./css/common.css" rel="stylesheet" />

    <style>
        .btn-frame {
            margin-bottom: 10px;
        }

        .role-container{
            border: 1px solid #e3e3e3;
            width: 100%;
            /* padding: 6px; */
        }

        .role-title{
            background-color: #e3e3e3;
        }

        .role {
            width: 100%;
            padding: 8px;
        }

        .role li {
            display: inline-block;
        }
    </style>

</head>

<body>
    <div id="app">
        <div class="header">
            <mu-appbar color="#42a5f5" class="header-content">
                <div slot="left">
                    角色管理
                </div>

                <div slot="right" class="nav-right">
                    <span style="margin-right: 10px;">注册</span>
                    <span style="margin-right: 10px;">联系方式</span>
                    <!-- <mu-menu open-on-hover>
                    <div color="primary">系统信息</div>
                    <mu-list slot="content">
                        <mu-list-item button>

                            <mu-menu open-on-hover placement="left">
                                <div>
                                    角色管理
                                </div>
                                <mu-list slot="content">
                                    <mu-list-item button>fdsa</mu-list-item>
                                </mu-list>
                            </mu-menu>

                        </mu-list-item>
                    </mu-list>
                </mu-menu> -->
                </div>
            </mu-appbar>
        </div>

        <mu-container class="body">
            <div class="body-header">
                角色管理
            </div>

            <div class="btn-frame">
                <mu-button color="primary" @click="openSimpleDialog">新增角色</mu-button>
            </div>

            <!-- <mu-paper :z-depth="1"> -->
            <mu-data-table border :columns="columns" :data="list" class="table-content">
                <template slot-scope="scope">
                    <td>{{scope.row.id}}</td>
                    <td class="is-right">{{scope.row.role_name}}</td>
                    <td class="is-right">{{scope.row.user_list}}</td>
                    <td class="is-right">{{scope.row.desc}}</td>
                    <td class="is-center">
                        <mu-button small fab>
                            <mu-icon value="edit"></mu-icon>
                        </mu-button>
                        <mu-button small fab>
                            <mu-icon value="delete_forever"></mu-icon>
                        </mu-button>
                    </td>
                </template>
            </mu-data-table>
            <!-- </mu-paper> -->

            <mu-dialog title="角色新增" width="600" :open.sync="openSimple">
                <mu-form label-position="right" label-width="80">
                    <mu-form-item label="角色名称">
                        <mu-text-field prop="username"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="网站权限">
                        <div class="role-container">
                            <div class="role role-title">
                                <mu-checkbox v-model="checkbox" value="a" label="会员管理"></mu-checkbox>
                            </div>
                            <ul class="role">
                                <li>
                                    <mu-checkbox v-model="checkbox" value="b" label="会员列表"></mu-checkbox>
                                </li>
                                <li>
                                    <mu-checkbox v-model="checkbox" value="c" label="会员审核"></mu-checkbox>
                                </li>
                            </ul>
                        </div>
                    </mu-form-item>
                </mu-form>

                <mu-button slot="actions" flat color="primary" @click="closeSimpleDialog">确定</mu-button>
                <mu-button slot="actions" flat @click="closeSimpleDialog">关闭</mu-button>
            </mu-dialog>

        </mu-container>

        <script src="./js/vue.js"></script>
        <script src="./js/muse-ui.js"></script>
        <script>
            new Vue({
                data() {
                    return {
                        checkbox: [],

                        openSimple: false,

                        columns: [{
                                title: 'ID',
                                name: 'id'
                            },
                            {
                                title: '角色名称',
                                name: 'role_name',
                                align: 'center',
                            },
                            {
                                title: '用户列表',
                                name: 'user_list',
                                align: 'center',
                            },
                            {
                                title: '描述',
                                name: 'desc',
                                align: 'center',
                            },
                            {
                                title: '操作',
                                name: 'active',
                                align: 'center',
                            }
                        ],
                        list: [{
                                id: '1',
                                role_name: '销售管理员',
                                user_list: '小明，小红',
                                desc: '销售员禁用',
                            },
                            // {
                            //     id: '2',
                            //     role_name: '会员列表',
                            //     user_list: 'admin user memberlist',
                            //     active: '是',
                            // },
                        ]
                    };
                },

                methods: {
                    openSimpleDialog() {
                        this.openSimple = true;
                    },
                    closeSimpleDialog() {
                        this.openSimple = false;
                    }
                }
            }).$mount('#app')
        </script>

</body>

</html>